<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>店舗名</th>
      <th>JOYSOUND MAX GO</th>
      <th>JOYSOUND MAX2</th>
      <th>JOYSOUND MAX</th>
      <th>LIVE DAM STADIUM</th>
      <th>LIVE DAM Ai</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>高槻2号</td>
      <td>×</td>
      <td>×</td>
      <td>×</td>
      <td>×</td>
      <td>×</td>
    </tr>
    <tr>
      <td>高槻3号</td>
      <td>×</td>
      <td>×</td>
      <td>×</td>
      <td>×</td>
      <td>×</td>
    </tr>
    <tr>
      <td>高槻シースー</td>
      <td>9</td>
      <td>14</td>
      <td>12</td>
      <td>10</td>
      <td>4</td>
    </tr>
    <tr>
      <td>河原町本店</td>
      <td>×</td>
      <td>×</td>
      <td>×</td>
      <td>×</td>
      <td>×</td>
    </tr>
    <tr>
      <td>京都駅前</td>
      <td>×</td>
      <td>×</td>
      <td>×</td>
      <td>×</td>
      <td>×</td>
    </tr>
    <tr>
      <td>西院駅前</td>
      <td>×</td>
      <td>×</td>
      <td>×</td>
      <td>×</td>
      <td>×</td>
    </tr>
    <tr>
      <td>三条河原町</td>
      <td>×</td>
      <td>×</td>
      <td>×</td>
      <td>×</td>
      <td>×</td>
    </tr>
    <tr>
      <td>四条大宮駅前</td>
      <td>×</td>
      <td>×</td>
      <td>×</td>
      <td>×</td>
      <td>×</td>
    </tr>
    <tr>
      <td>四条河原町</td>
      <td>×</td>
      <td>×</td>
      <td>×</td>
      <td>×</td>
      <td>×</td>
    </tr>
    <tr>
      <td>ジャジャーンカラ京大BOX</td>
      <td>4</td>
      <td>3</td>
      <td>10</td>
      <td>4</td>
      <td>3</td>
    </tr>
    <tr>
      <td>S河原町本店</td>
      <td>×</td>
      <td>×</td>
      <td>×</td>
      <td>×</td>
      <td>×</td>
    </tr>
    <tr>
      <td>同志社前</td>
      <td>1</td>
      <td>3</td>
      <td>19</td>
      <td>2</td>
      <td>×</td>
    </tr>
    <tr>
      <td>桃山御陵前</td>
      <td>×</td>
      <td>×</td>
      <td>×</td>
      <td>×</td>
      <td>×</td>
    </tr>
    <tr>
      <td>山科駅前</td>
      <td>×</td>
      <td>×</td>
      <td>×</td>
      <td>×</td>
      <td>×</td>
    </tr>
    <tr>
      <td>六地蔵</td>
      <td>×</td>
      <td>×</td>
      <td>×</td>
      <td>×</td>
      <td>×</td>
    </tr>
  </tbody>
</table>