<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>店舗名</th>
      <th>JOYSOUND MAX GO</th>
      <th>JOYSOUND MAX2</th>
      <th>JOYSOUND MAX</th>
      <th>LIVE DAM STADIUM</th>
      <th>LIVE DAM Ai</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>お初天神</td>
      <td>8</td>
      <td>5</td>
      <td>18</td>
      <td>10</td>
      <td>6</td>
    </tr>
    <tr>
      <td>北新地</td>
      <td>3</td>
      <td>5</td>
      <td>11</td>
      <td>7</td>
      <td>3</td>
    </tr>
    <tr>
      <td>東通</td>
      <td>2</td>
      <td>×</td>
      <td>18</td>
      <td>24</td>
      <td>5</td>
    </tr>
    <tr>
      <td>かっぱ横丁</td>
      <td>3</td>
      <td>5</td>
      <td>21</td>
      <td>7</td>
      <td>4</td>
    </tr>
    <tr>
      <td>東通本店</td>
      <td>14</td>
      <td>5</td>
      <td>1</td>
      <td>14</td>
      <td>4</td>
    </tr>
    <tr>
      <td>S茶屋町</td>
      <td>15</td>
      <td>9</td>
      <td>×</td>
      <td>12</td>
      <td>×</td>
    </tr>
    <tr>
      <td>東通3号</td>
      <td>4</td>
      <td>6</td>
      <td>16</td>
      <td>13</td>
      <td>2</td>
    </tr>
    <tr>
      <td>茶屋町</td>
      <td>×</td>
      <td>×</td>
      <td>×</td>
      <td>×</td>
      <td>×</td>
    </tr>
    <tr>
      <td>東中通</td>
      <td>4</td>
      <td>4</td>
      <td>36</td>
      <td>5</td>
      <td>2</td>
    </tr>
    <tr>
      <td>梅田芝田町</td>
      <td>×</td>
      <td>×</td>
      <td>×</td>
      <td>×</td>
      <td>×</td>
    </tr>
    <tr>
      <td>アジアン天満</td>
      <td>7</td>
      <td>8</td>
      <td>10</td>
      <td>16</td>
      <td>2</td>
    </tr>
    <tr>
      <td>東通白馬車ビル</td>
      <td>15</td>
      <td>×</td>
      <td>×</td>
      <td>5</td>
      <td>2</td>
    </tr>
    <tr>
      <td>河原町本店</td>
      <td>1</td>
      <td>5</td>
      <td>25</td>
      <td>20</td>
      <td>13</td>
    </tr>
    <tr>
      <td>京都駅前</td>
      <td>3</td>
      <td>11</td>
      <td>24</td>
      <td>16</td>
      <td>4</td>
    </tr>
    <tr>
      <td>西院駅前</td>
      <td>×</td>
      <td>×</td>
      <td>×</td>
      <td>×</td>
      <td>×</td>
    </tr>
    <tr>
      <td>三条河原町</td>
      <td>3</td>
      <td>5</td>
      <td>21</td>
      <td>17</td>
      <td>9</td>
    </tr>
    <tr>
      <td>四条大宮駅前</td>
      <td>×</td>
      <td>1</td>
      <td>14</td>
      <td>4</td>
      <td>×</td>
    </tr>
    <tr>
      <td>四条河原町</td>
      <td>4</td>
      <td>4</td>
      <td>12</td>
      <td>12</td>
      <td>4</td>
    </tr>
    <tr>
      <td>ジャジャーンカラ京大BOX</td>
      <td>3</td>
      <td>5</td>
      <td>10</td>
      <td>4</td>
      <td>5</td>
    </tr>
    <tr>
      <td>S河原町本店</td>
      <td>8</td>
      <td>14</td>
      <td>×</td>
      <td>16</td>
      <td>0</td>
    </tr>
    <tr>
      <td>同志社前</td>
      <td>×</td>
      <td>×</td>
      <td>×</td>
      <td>×</td>
      <td>×</td>
    </tr>
    <tr>
      <td>桃山御陵前</td>
      <td>×</td>
      <td>7</td>
      <td>9</td>
      <td>9</td>
      <td>×</td>
    </tr>
    <tr>
      <td>山科駅前</td>
      <td>×</td>
      <td>3</td>
      <td>13</td>
      <td>1</td>
      <td>×</td>
    </tr>
    <tr>
      <td>六地蔵</td>
      <td>2</td>
      <td>4</td>
      <td>13</td>
      <td>3</td>
      <td>4</td>
    </tr>
  </tbody>
</table>