<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>店舗名</th>
      <th>JOYSOUND MAX GO</th>
      <th>JOYSOUND MAX2</th>
      <th>JOYSOUND MAX</th>
      <th>LIVE DAM STADIUM</th>
      <th>LIVE DAM Ai</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>京橋1号</td>
      <td>0</td>
      <td>5</td>
      <td>26</td>
      <td>10</td>
      <td>0</td>
    </tr>
    <tr>
      <td>京橋本店</td>
      <td>3</td>
      <td>4</td>
      <td>12</td>
      <td>9</td>
      <td>5</td>
    </tr>
    <tr>
      <td>京橋Door4</td>
      <td>6</td>
      <td>8</td>
      <td>9</td>
      <td>13</td>
      <td>3</td>
    </tr>
  </tbody>
</table>