<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>ジャンカラ機種別空き部屋検索アプリ</title>
    </head>
    <body>
        <form action="/process_form" method="POST">
            <label><input type="checkbox" name="region1" id="region1" value="True">大阪府（梅田）</label>
            <label><input type="checkbox" name="region2" id="region2" value="True">大阪府（高槻）</label>
            <label><input type="checkbox" name="region3" id="region3" value="True">大阪府（京橋）</label>
            <label><input type="checkbox" name="region4" id="region4" value="True">大阪府（難波・心斎橋）</label>
            <label><input type="checkbox" name="region5" id="region5" value="True">京都府</label>

            <br>

            <input type="date" name="selected_date" required>
            <!-- <button type="submit">Submit</button> -->

            <br>

            <select name="hour" id="hour" required>
                <option value="00">00時</option>
                <option value="01">01時</option>
                <option value="02">02時</option>
                <option value="03">03時</option>
                <option value="04">04時</option>
                <option value="05">05時</option>
                <option value="06">06時</option>
                <option value="07">07時</option>
                <option value="08">08時</option>
                <option value="09">09時</option>
                <option value="10">10時</option>
                <option value="11">11時</option>
                <option value="12">12時</option>
                <option value="13">13時</option>
                <option value="14">14時</option>
                <option value="15">15時</option>
                <option value="16">16時</option>
                <option value="17">17時</option>
                <option value="18">18時</option>
                <option value="19">19時</option>
                <option value="20">20時</option>
                <option value="21">21時</option>
                <option value="22">22時</option>
                <option value="23">23時</option>><!-- CHECK -->
            </select>
            <select name="minute" id="minute" required>
                <option value="00">00分</option>
                <option value="15">15分</option>
                <option value="30">30分</option>
                <option value="45">45分</option><!-- CHECK -->
            </select>
            <select name="use_number" id="use_number" required>
                <option value="1">1人</option>
                <option value="2">2人</option>
                <option value="3">3人</option>
                <option value="4">4人</option>
                <option value="5">5人</option>
                <option value="6">6人</option>
                <option value="7">7人</option>
                <option value="8">8人</option>
                <option value="9">9人</option>
                <option value="10">10人</option><!-- CHECK -->
            </select>
            <select name="use_minute" id="use_minute"required>
                <option value="30">0.5時間</option>
                <option value="60">1.0時間</option>
                <option value="90">1.5時間</option>
                <option value="120">2.0時間</option>
                <option value="150">2.5時間</option>
                <option value="180">3.0時間</option>
                <option value="210">3.5時間</option>
                <option value="240">4.0時間</option>
                <option value="270">4.5時間</option>
                <option value="300">5.0時間</option>
                <option value="330">5.5時間</option>
                <option value="360">6.0時間</option>
                <option value="390">6.5時間</option>
                <option value="420">7.0時間</option>
                <option value="450">7.5時間</option>
                <option value="480">8.0時間</option>
                <option value="510">8.5時間</option><!-- CHECK -->
            </select>
            <select name="course" id="course"required>
                <option value="1">通常</option>
                <option value="2">昼フリー</option>
                <option value="5">夕方フリー</option>
                <option value="6">夜フリー</option>
                <option value="3">深夜フリー</option>
                <option value="10">エンドレスフリー</option>
                <option value="14">昼5時間</option>
                <option value="12">昼3時間</option><!-- CHECK -->
            </select>

            <br>

            <input type="submit" value="実行">
        </form>
    </body>
</html>